<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
</head>
<body class="text-white" style="background-color: rgb(255, 255, 255);">
    <header class="text-white p-1" style="background-color: rgb(1, 0, 48);">
            <img class="rounded float-left" src="../resources/images/tumblr_e44b44493338313136e00158c54e128f_4b64f46a_2048.jpg" alt="pfp.png" style="width: 2%; height: 2%;">
            Name: Sebastian Bailey (Student)

            <nav class="float-end pt-2">
                <a class="text-white me-3 text-decoration-none" href="../index.html">Home</a>
                <a class="text-white me-3 text-decoration-none" href="skills.html">Skills</a>
                <a class="text-white me-3 fw-bold text-decoration-none" href="contacts.html">Contact Info</a>
            </nav>
    </header>

      <div class="mt-5"style="color: black;">
            <div>
                <h1 class="ms-3"style="color: black;">
                    Contact
                </h1>
            </div>

            <div class="ms-5"style="color: black;">
                <li>Address: Dona Francisca </li>
                <li>Email: Baileysebastian442@gmail.com</li>
                <li>Phone No: 0966 471 8676</li>
                <li>Facebook: Sebastian Marcus A. Bailey</li>
            </div>
        </div>
</body>
</html>