<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
</head>
<body class="text-black" style="background-color: rgb(255, 255, 255);">
    <header class="text-white p-1" style="background-color: rgb(1, 0, 48);">
            <img class="rounded float-left" src="../resources/images/tumblr_e44b44493338313136e00158c54e128f_4b64f46a_2048.jpg" alt="pfp.png" style="width: 2%; height: 2%;">
            Name: Sebastian Bailey (Student)

            <nav class="float-end pt-2">
                <a class="text-white me-3 text-decoration-none" href="../index.html">Home</a>
                <a class="text-white me-3 fw-bold text-decoration-none" href="skills.html">Skills</a>
                <a class="text-white me-3 text-decoration-none" href="contacts.html">Contact Info</a>
            </nav>
    </header>

    <div class="mt-5">
        <div>
            <h1 class="ms-3">
                Skills
            </h1>
        </div>

        <div class="ms-5 me-5" >
            <li>Bilingual (English/Filipino)</li>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            <li>HTML</li>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            <li>Adobe Illustration</li>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            <li>Adobe Photoshop</li>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            <li>Canva</li>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
        </div>
    </div>

    <div class="mt-5">
        <div>
            <h1 class="ms-3">
                Education and Experience
            </h1>
        </div>
        
        <div class="ms-5" >
            <div>Student</div>
            <li class="ms-4">EPCST (Transferred)</li>
            <li class="ms-4">2023-2026</li>
            <li class="ms-4">Heroes</li>
            <li class="ms-4">2022-2023</li>
            <li class="ms-4">Lamao National Highschool</li>
            <li class="ms-4">2017-2022</li>
            <div class="mt-2">Designer for CornAid</div>
            <li class="ms-4">EPCST</li>
            <li class="ms-4">2025-2026</li>
            <li class="ms-4">Designed websites.</li>
        </div>
    </div>

</body>
</html>